{
  "extends": [
    "airbnb-typescript"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "object-curly-newline": "off",
    "react/prop-types": "off",
    "max-len": ["error", 120],
    "eol-last": "error"
  },
  "env": {
    "jest": true
  },
  "ignorePatterns": ["setupTests.ts", "react-app-env.d.ts"]
}
